
h1 {
  width: 1250px;
  height: 20px;
  margin: 50px;
  padding: 25px;
  text-align: center;
}

/*уберает отступы у списков*/
ul, ol {
  margin: 0 auto;
  padding: 0;
}

/*уберает точки и нумерацию в списках*/
li {
  list-style-type: none;
}

/*толщина рамки, вид рамки (в примере - сплошная), цвет рамки*/
.page-title {
  border: 3px solid black;
}

.page-subtitle {
  border: 2px solid gray;
  margin: 0 auto;
}

.paragraph {
  border: 1px solid brown;
}
